# Environment the backend is running on. Must be strictly prod in production environment
ENV=dev

# DB Setup
MONGODB_HOST=
MONGODB_PORT=27017

# Authentication
AUTH_SECRET=
ACCESS_TOKEN_EXPIRY_TIME=30
ALGORITHM=HS256

# Name of folder where images live
UPLOAD_FOLDER=static/uploads

# Cleaning
ALLOWED_EXTENSIONS=.jpg,.jpeg,.png,.webp
CHUNK_SIZE=1048576
MAX_FILE_SIZE = 10485760

COMPANY_DOMAIN=ird.com.np
REDIS_URL=redis://redis:6379/

# MongoDB config (if using auth)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
